Source: creativity
Section: science
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Homepage: https://git.imaginary.ca/eris/creativity
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               cmake,
               liberis-dev (>= 0.3.5),
               libeigen3-dev (>= 3.2.2),
               libboost-dev,
               doxygen,
               graphviz,
               libgtkmm-3.0-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev

Package: libcreativity0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Economic creativity and piracy simulator (shared library)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the base shared library needed for all creativity tools.

Package: libcreativity-data0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Economic creativity and piracy simulator (data tools shared library)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the shared library needed for creativity data analysis.

Package: libcreativity-gui0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Economic creativity and piracy simulator (data tools shared library)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the shared library needed for the GTK3 creativity GUI.

Package: libcreativity-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libcreativity0 (= ${binary:Version}),
         libcreativity-data0 (= ${binary:Version}),
         libcreativity-gui0 (= ${binary:Version}),
         liberis-dev (>= 0.3.5),
         libgtkmm-3.0-dev,
         ${misc:Depends}
Suggests: creativity-doc
Description: Economic creativity and piracy simulator (data tools shared library)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the headers needed to develop code using creativity.

Package: creativity
Section: science
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Economic creativity and piracy simulator (command-line tools)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the command-line tools for running creativity
 simulations and analyzing the results:
 .
 creativity-cli -- runs a simulation
 creativity-random -- draws simulation settings from random distributions
 creativity-info -- displays summary information for a saved simulation
 creativity-data -- builds a data file from one or more simulations
 creativity-results -- analyzes data generated by creativity-data

Package: creativity-gui
Section: science
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: creativity
Description: Economic creativity and piracy simulator (GTK3 interface)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the GTK3 graphical interface to running and viewing new
 and saved creativity simulations.

Package: creativity-doc
Section: doc
Architecture: all
Depends: libjs-mathjax, ${misc:Depends}
Description: Economic creativity and piracy simulator (HTML documentation)
 Creativity is an economics agent-based model that simulates the creative process,
 including creation, sales, and piracy of creative works.
 .
 This package contains the creativity developer documentation files.
